/*list product*/
.products {
  flex-direction: column;
}
.products__title {
  text-align: center;
  width: 100%;
  font-size: 20pt;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
.products__title::after {
  content: "";
  position: absolute;
  width: 36%;
  height: 120%;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.products__title::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -2;
}
.products__link--viewAll {
  color: #000;
  font-size: 12pt;
  margin-bottom: 35px;
}
.products__link--viewAll:hover {
  color: #436fe7;
}
.products__list {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
/*product*/
.product {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.product__tools {
  position: absolute;
  top:20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product__tools span {
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.product-img {
  position: relative;
  z-index: -2;
}
.product-img img{
  object-fit: cover;
  width: 100%;
}
.product__btn--addToCart {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
  background-color: #fff;
  padding: 15px;
}
.product__btn--addToCart button{
  width: 88%;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid #000;
}
.product:hover .product__btn--addToCart{
  transition: all 0.5s ease-in-out;
  bottom: 0;
}
.product__information {
  position: relative;
  z-index: 2;
  padding-top: 20px;
  background-color: #fff;
  flex-direction: column;
}
.product__information--title{
  color: #9d9d9d;
  font-size: 16pt;
  margin-bottom: 20px;
}
.product__information--desc {
  width: 90%;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}
.product__information--price {
  color: #a3a3a3;
  margin-bottom: 20px;
}
.product__information--color{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.color-item {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.color-item.blue {
  background-color: #4b6cc0;
}
.color-item::before {
  content: "";
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) ;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  z-index: -1;
}

.products__btn--showMore {
  border: 2px solid #b8b8b8;
  padding: 15px 100px;
  font-weight: 600;
  font-size: 14pt;
  background:none;
  cursor: pointer;
}
.products__btn--showMore:hover {
  background-color: #000;
  color: #fff;
  border-color:  #fff;
}
