/*reset css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*font-family*/
@font-face {
  font-family: Poppins;
  src: url(/assets/font/Poppins-Regular.ttf);
}
/* commom*/
:root {
  --black: #000;
  --black-2: #232323;
  --black-3: #141414;
  --black-4: #282828;
  --black-5: #323232;
  --white: #ffffff;
  --grey: #8a8a8a;
  --grey-2: #ccc;
  --grey-3: #fafafa;
  --grey-4: #555555;
  --grey-5: #e0e0e0;
  --grey-6: #9d9d9d;
  --grey-7: #969696;
  --grey-8: #494949;
  --grey-9: #e8e8e8;
  --grey-10: #b8b8b8;
  --pink: #ffe8e8;
  --pink-2: #c58282;
  --pink-3: #b05d5d;
  --orange: #ef6454;
  --yellow: #ffbb49;
  --yellow-2: #fff100;
  --blue: #06bfe2;
  --blue-2: #436fe7;
  --blue-3: #4b6cc0;
  --green: #13c89c;
}
html {
  font-family: "Poppins";
}
body {
  max-width: 1880px;
  margin: auto;
  overflow: auto;
}
.vertialPadding {
  padding: 0 18.6%;
}
@media (max-width: 740px) {
  .vertialPadding {
    padding: 0 5%;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .vertialPadding {
    padding: 0 8%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .vertialPadding {
    padding: 0 12%;
  }
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
